<head>
<!-- Video.js base CSS -->
<link href="https://unpkg.com/video.js@7/dist/video-js.min.css" 
rel="stylesheet">

<!-- City -->
<link href="style.css" rel="stylesheet">
    <!-- If you'd like to support IE8 (for Video.js versions prior to v7) -->
    <script src="https://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>
</head>

<body>
	<label>Choose movie to Play</label>
    <input type="file" id="load" name="">
	<label>Choose Subtitle to Add</label>
    <input type="file" id="loadsub" name="">
	<button id="fullscreen">Fullscreen</button>
	<div class="blocked">
    <video id="my-video" class="video-js" controls preload="auto" width="640" height="264" poster="MY_VIDEO_POSTER.jpg" data-setup="{}">
        <source src="‪E:/Games/it.mp4" type="video/mp4" />
        <p class="vjs-no-js">
            To view this video please enable JavaScript, and consider upgrading to a
            web browser that
            <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
        </p>
    </video>
	</div>
    <script src="https://vjs.zencdn.net/7.8.3/video.js"></script>
    <script>
    var vdFile = document.getElementById("load");
    vdFile.onchange = e => {
        console.log(e.target.files[0]);
        var files = e.target.files[0];
        var url = URL.createObjectURL(files);
        console.log(url)
        videojs("#my-video").src({
            type: "video/mp4",
            src: url
        })
    }
	document.getElementById("fullscreen").addEventListener('click',()=>document.querySelector("video").requestFullscreen())
    </script>
	<script type="text/javascript">
function srt2webvtt(data) {
    var srt = data.replace(/\r+/g, '');
    srt = srt.replace(/^\s+|\s+$/g, '');
    var cuelist = srt.split('\n\n');
    var result = "";
    if (cuelist.length > 0) {
        result += "WEBVTT\n\n";
        for (var i = 0; i < cuelist.length; i = i + 1) {
            result += convertSrtCue(cuelist[i]);
        }
    }

    return result;
}
function convertSrtCue(caption) {
    var cue = "";
    var s = caption.split(/\n/);
    while (s.length > 3) {
        for (var i = 3; i < s.length; i++) {
            s[2] += "\n" + s[i]
        }
        s.splice(3, s.length - 3);
    }

    var line = 0;
    if (!s[0].match(/\d+:\d+:\d+/) && s[1].match(/\d+:\d+:\d+/)) {
        cue += s[0].match(/\w+/) + "\n";
        line += 1;
    }
    if (s[line].match(/\d+:\d+:\d+/)) {
        var m = s[1].match(/(\d+):(\d+):(\d+)(?:,(\d+))?\s*--?>\s*(\d+):(\d+):(\d+)(?:,(\d+))?/);
        if (m) {
            cue += m[1] + ":" + m[2] + ":" + m[3] + "." + m[4] + " --> "
                + m[5] + ":" + m[6] + ":" + m[7] + "." + m[8] + "\n";
            line += 1;
        } else {
            return "";
        }
    } else {
        return "";
    }
    if (s[line]) {
        cue += s[line] + "\n\n";
    }

    return cue;
}
var subFile = document.getElementById("loadsub");
    subFile.onchange = e => {
        console.log(e.target.files[0]);
        var files = e.target.files[0];
        var url = URL.createObjectURL(files);
        console.log(url)
		var reader = new FileReader();
		reader.readAsText(files);
		reader.onload = () => {
			const converted = srt2webvtt(reader.result)
			const myBlob = new Blob([converted], {type: "text/plain"})
			videojs("#my-video").addRemoteTextTrack({label: "Sub", src: URL.createObjectURL(myBlob)})
			console.log("URL of converted subtitle -> "+ URL.createObjectURL(myBlob))
		}
    }
</script>
    </script>
</body>